.sectionEntry {
    margin-top: 0px;
    margin-bottom: 0px;
}

.additionalInfo {
    float: right;
    font-stretch: condensed;
    font-size: smaller;
}

.tasks{
    margin-top: 5px;
    margin-left: 0px;
    font-stretch: condensed;
    font-size: smaller;
}

